<style>
    .custom-marker {
        background: transparent;
        border: none;
    }
    .custom-marker div {
        transition: none;  /* Убираем анимацию */
        cursor: pointer;
    }
    /* Убираем эффект при наведении */
    .custom-marker div:hover {
        transform: none;  /* Убираем увеличение */
    }
    .leaflet-popup-content {
        min-width: 260px;
    }
    .btn-sm {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }
</style>